# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Config / Secrets
config/.env
.env
**/.env

# Large datasets & archive dumps
*.zip
*.tar.gz
*.tar
*.gz
*.7z
*.rar
*.h5
*.hdf5
*.parquet
*.pt
*.bin
*.npy
*.npz
*.sqlite3
*.db
AddBiomechanics/
**/AddBiomechanics/**

# OS files
.DS_Store
Thumbs.db